<div class="link-wrapper-mobile" id="link-wrapper-mobile">
    <style scoped>
        #link-wrapper-mobile a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
        }

        #link-wrapper-mobile a:hover, a:focus {
        color: var(--clr-a-text-hvr);
        }
    </style>
    {%- for platform in site.sidebar %}
    <nobr><a href="{{ platform.link }}" rel="me"><i class="{{ platform.icon }}"></i>&nbsp;{{ platform.name }}</a>
    {%- unless forloop.last %}<span style="margin-left: 6px;"></span>{% endunless %}</nobr>
    {%- endfor %}
</div>
