<div class="link-wrapper-mobile" id="link-wrapper-mobile">
    <style scoped>
        #link-wrapper-mobile a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
        }

        #link-wrapper-mobile a:hover, a:focus {
        color: var(--clr-a-text-hvr);
        }
    </style>
    <nobr><a href="https://scholar.google.com/citations?user=zR6afi8AAAAJ"><i class="fa-solid fa-user-graduate"></i> Google Scholar</a>
    <span style="margin-left: 5px;"></span></nobr>
    <nobr><a href="https://github.com/BDHU" rel="me"><i class="fa-brands fa-github"></i> GitHub</a>
    <span style="margin-left: 5px;"></span></nobr>
    <nobr><a href="https://twitter.com/BodunHu" rel="me"><i class="fa-brands fa-twitter"></i> Twitter</a>
    <span style="margin-left: 5px;"></span></nobr>
    <nobr><a href="https://www.bodunhu.com/blog/" rel="me"><i class="fa-solid fa-pen"></i> Blog</a>
    <span style="margin-left: 5px;"></span></nobr>
    <nobr><a href="https://github.com/BDHU/minimalist"><i class="fa-solid fa-box-archive"></i> Project Repository</a></nobr>
</div>