<div class="link-wrapper-mobile">
    <a href="https://scholar.google.com/citations?user=zR6afi8AAAAJ">[Google Scholar]</a>
    <span style="margin-left: 5px;"></span>
    <a href="https://github.com/BDHU" rel="me">[GitHub]</a>
    <span style="margin-left: 5px;"></span>
    <a href="https://twitter.com/BodunHu">[Twitter]</a>
    <span style="margin-left: 5px;"></span>
    <a href="https://www.bodunhu.com/blog/">[Blog]</a>
    <span style="margin-left: 5px;"></span>
    <a href="https://github.com/BDHU/minimalist">[Project Repository]</a>
</div>